@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: "Raloud", sans-serif !important;
  background: #f8edfd;
  background-attachment: fixed;
  color: #0f172a;
}

@font-face {
  font-family: "Raloud";
  src: url("../fonts/euclid-bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Raloud";
  src: url("../fonts/euclid-semibold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Raloud";
  src: url("../fonts/euclid-regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Raloud";
  src: url("../fonts/euclid-light.woff2");
  font-weight: 300;
}

.show {
  display: block;
}

.noshow {
  display: none;
}
@font-face {
  font-family: "Raloud";
  src: url("/fonts/euclid-bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Raloud";
  src: url("/fonts/euclid-semibold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Raloud";
  src: url("/fonts/euclid-regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Raloud";
  src: url("/fonts/euclid-light.woff2");
  font-weight: 300;
}

@media (max-width: 300px) {
  .hiddenos {
    display: none;
  }
}

.ptprelinker-contents-register-form-default
  .ptprelinker-checkbox
  .ptprelinker-input-checkbox {
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  opacity: 1 !important;
  z-index: 1;
  cursor: pointer;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-checkbox
  .ptprelinker-label-checkbox {
  padding-left: 1.7rem !important;
  font-size: 0.7rem;
}
.ptprelinker-select::after {
}

.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner {
  width: 100%;
  padding: 0rem !important;
}

/* 
.ptprelinker-containers-fullpage-default.ptprelinker-show
  .ptprelinker-content
  .ptprelinker-content-inner {
  font-family: Platform;
  letter-spacing: 1.5px !important;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner
  .ptprelinker-register-form
  .ptprelinker-legend-form {
  color: #800048 !important;
  font-weight: 700;
  font-family: Platform !important;
  font-size: 19px !important;
  background-color: none !important;
}
.ptprelinker-contents-register-form-default
  .ptprelinker-checkbox
  .ptprelinker-input-checkbox
  + .ptprelinker-label-checkbox::before {
  border-color: white !important;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-checkbox
  .ptprelinker-input-checkbox:checked
  + .ptprelinker-label-checkbox::before {
  background-image: linear-gradient(to bottom, #c73d6f, #fd5794);
}

/* .ptprelinker-cgu-text {
  margin-top: 0.4rem;
  color: #800048 !important;
  font-size: 0px !important;
} */

.ptprelinker-input-group-text {
  background-image: linear-gradient(to bottom, #c73d6f, #fd5794);

  border-color: #800048 !important;
  color: white !important;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner
  .ptprelinker-register-form
  .ptprelinker-buttons
  .ptprelinker-button {
  min-height: var(--ptprelinker-css-height-input, "");
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
  font-size: var(--ptprelinker-css-ft-size-register-portal, "");
  text-transform: uppercase;
  letter-spacing: 0;
}

.ptprelinker-contents-register-form-default .ptprelinker-content {
  max-width: 500px;
  background: white !important;
  border-radius: 20px;
  padding: 10px;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner
  .ptprelinker-register-form
  .ptprelinker-buttons
  .ptprelinker-button {
}

.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner {
  background-color: #1b1c21 !important;
  width: 100%;
  padding: 1.3rem !important;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner
  .ptprelinker-register-form
  .ptprelinker-legend-form {
  background-color: transparent !important;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner {
  background-color: transparent !important;
  width: 100% !important;
  margin: auto;
  text-align: center !important;
  padding: 1rem;
  border-radius: 30px !important;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner
  .ptprelinker-register-form
  .ptprelinker-input:focus,
.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner
  .ptprelinker-register-form
  .ptprelinker-select:focus {
  border-color: white !important;
}

.ptprelinker-contents-register-form-default .ptprelinker-input:focus,
.ptprelinker-contents-register-form-default .ptprelinker-select:focus {
  box-shadow: none !important;
}

.ptprelinker-containers-fullpage-default.ptprelinker-show
  .ptprelinker-content
  .ptprelinker-content-inner {
  border-radius: 20px;
  width: 95%;
  margin: 0 auto;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner
  .ptprelinker-register-form
  .ptprelinker-cgu-link {
  color: white !important;
  text-decoration: none;
  transition: all 0.4s;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-checkbox
  .ptprelinker-input-checkbox
  .ptprelinker-label-checkbox {
  color: white !important;
  width: 100% !important;
  height: 2.5rem !important;
  opacity: 0;
}

.ptprelinker-label-checkbox {
  color: white !important;
}
*/ .show {
  display: block;
}

.noshow {
  display: none;
}

.invitation {
  display: block;
}

.noinvitation {
  display: none;
}

.shake {
  animation: shake 3s infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* 
.form-group:first-of-type {

  display: none !important;
} */

button:disabled,
button[disabled] {
  background: linear-gradient(to right, #a4a4a4, #a4a4a4);
  background-color: #a4a4a4 !important;
  box-shadow: 0 11px 26px 0 #e3e3e3 !important;
  text-shadow: none;

  color: #666666 !important;
}
/* 
button {
  background-image: linear-gradient(to right, #22d738, rgba(34, 215, 56, 0.8));
  box-shadow: 0 11px 26px 0 #a5ebf1;
  text-shadow: 0 2px 5px #3ccd1e;
} */

textarea:focus,
input:focus {
  outline: none;
}

/* .ptprelinker-contents-register-form-default .ptprelinker-content .ptprelinker-content-inner .ptprelinker-register-form .ptprelinker-input-group-prepend .ptprelinker-input-group-text {
  background: #c095e4 !important;
  border-color: #c095e4 !important;
} */

/* .ptprelinker-icon-calendar:before  {
color: white !important;
}

.ptprelinker-icon-pencil:before
{
  color: white !important;
  }
  
  .ptprelinker-icon-mail:before  {
    color: white !important;
    } */

.shaadow {
  box-shadow: 1px 1px 32px rgba(163, 73, 252, 0.395);
}

/* .ptprelinker-input-group:first-of-type {
  display: none !important;
} */

.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chatBox {
  padding: 10px;
  height: 75%;
  width: 70%;
  /* border: 2px solid grey; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.message {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.menu {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.messageBox {
  height: 20px;
  width: 85%;
  padding: 5px;
}

.emailBox {
  height: 20px;
  width: 85%;
  padding: 5px;
}

.send {
  height: 34px;
  width: 10%;
  /* padding: 5px; */
}

.chatTextContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatText {
  width: max-content;
  margin: 5px 0px 5px 0px;
  padding: 8px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 1px solid black; */
  border-radius: 10px;
  font-size: 14px;
  font-weight: 200;
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

.loginForm {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.ptprelinker-input::placeholder {
  color: #363636 !important;
}

.loginText {
  color: white;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.ptprelinker-containers-selector-default * {
  box-sizing: border-box;
  font-weight: normal !important;
  font-size: 1rem;
  text-transform: none !important;
}

.ptprelinker-input-checkbox {
  box-sizing: border-bo !important;
  padding: 0 !important;
  min-width: 1.5rem !important;
  min-height: 1.5rem !important;
  outline: none !important;
}

.ptprelinker-label-checkbox {
  font-size: 0.875rem !important;
  color: black !important;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner
  .ptprelinker-register-form
  .ptprelinker-cgu-link {
  color: black !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner
  .ptprelinker-register-form
  .ptprelinker-select {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.5rem !important;
}

.ptprelinker-button {
  height: 50px !important;
  text-transform: uppercase !important;
  background-image: linear-gradient(90deg, #fd7a9f, #fa94b1);
  color: var(--text-color--text-alternate);
  text-align: center;
  font-size: 16px !important;
  font-family: "Raloud" !important;
  font-weight: 500;
  transition: opacity 0.4s;
  width: 100%;
  border: 0 !important;
  letter-spacing: 1px !important;
  margin-top: 20px !important;

  display: block;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #ec4899,
    #f472b6
  ); /* from-pink-500 to-pink-400 */
  color: white;
  font-weight: bold !important;
  padding: 1.5rem 1rem !important; /* py-3 px-4 */
  border-radius: 0.75rem !important; /* rounded-xl */
}

/* .ptprelinker-checkbox {
  display: none !important;
} */

.ptprelinker-content {
  width: 100% !important;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner {
  background-color: transparent !important;
  color: var(--ptprelinker-css-ft-body, "");
  width: 100%;
  padding: 1rem;
}

.ptprelinker-input-group-prepend::placeholder {
  text-transform: uppercase !important;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner
  .ptprelinker-register-form
  .ptprelinker-input,
.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner
  .ptprelinker-register-form
  .ptprelinker-select {
  flex: 1;
  border-color: transparent;
  /* border-top-left-radius: 0 !important; */
  /* border-bottom-left-radius: 0 !important; */
  /* padding-top: 0 !important; */
  /* padding-bottom: 0 !important; */
  background: #fafafa !important;
  border: none !important;
  color: black !important;
  border-radius: 0.5rem !important;
}

.ptprelinker-select {
  width: 100% !important;
  background-color: #fafafa !important;
  border: 0px !important;
  height: 3rem !important;
  padding: 0rem 1rem !important;
  border-radius: 0.5rem !important;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner
  .ptprelinker-register-form
  .ptprelinker-input,
.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner
  .ptprelinker-register-form
  .ptprelinker-select {
  flex: 1;
  border-color: var(--ptprelinker-css-border-input-inset, "") !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  width: 100% !important;
  background-color: #fafafa !important;
  border: 0px !important;
  height: 3rem !important;
  padding: 0rem 1rem !important;
  border-radius: 0.5rem !important;
}

@font-face {
  font-family: "Raloud";
  src: url("/fonts/euclid-bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Raloud";
  src: url("/fonts/euclid-semibold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Raloud";
  src: url("/fonts/euclid-regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Raloud";
  src: url("/fonts/euclid-light.woff2");
  font-weight: 300;
}

@media (max-width: 300px) {
  .hiddenos {
    display: none;
  }
}

.ptprelinker-contents-register-form-default
  .ptprelinker-checkbox
  .ptprelinker-input-checkbox {
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  opacity: 1 !important;
  z-index: 1;
  cursor: pointer;
}

.ptprelinker-contents-register-form-default
  .ptprelinker-checkbox
  .ptprelinker-label-checkbox {
  padding-left: 1.7rem !important;
  font-size: 0.7rem;
}
.ptprelinker-select::after {
}

.ptprelinker-contents-register-form-default
  .ptprelinker-content
  .ptprelinker-content-inner {
  width: 100%;
  padding: 0rem !important;
}
